@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
  font-size: 16px;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

// main-container global css
.app-container {
  padding: 20px;
}


.el-link {
    margin-left: 8px;
}

.roomcard{
    margin-bottom: 20px;
    .el-card__body{
        display: flex;
        align-items: center;
        .left{
            padding: 20px;
            .image{
                width: 300px;
            }
        }
        .right{
            flex: 1;
            display: flex;
            flex-wrap: wrap;
            .info{
                display: flex;
                flex-direction: column;
                width: 40%;
                &.desc{
                    width: 100%;
                }
                .info-itrem{
                    padding: 10px 0;
                    font-size: 20px;
                    span{
                        color: #979393;
                    }
                }
            }
        }
    }
}


.ssss{
    position: fixed;
    z-index: 99999;
    top: 20px;
    right: 20px;
}